@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Poppins%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&display=swap");

.plasmic_default_styles {
  --mixin-pANUUF2zMy3n_font-family: "Inter";
  --mixin-pANUUF2zMy3n_font-size: 16px;
  --mixin-pANUUF2zMy3n_font-weight: 400;
  --mixin-pANUUF2zMy3n_font-style: normal;
  --mixin-pANUUF2zMy3n_color: #535353;
  --mixin-pANUUF2zMy3n_text-align: left;
  --mixin-pANUUF2zMy3n_text-transform: none;
  --mixin-pANUUF2zMy3n_line-height: 1.5;
  --mixin-pANUUF2zMy3n_letter-spacing: normal;
  --mixin-pANUUF2zMy3n_white-space: pre-wrap;
  --mixin-pANUUF2zMy3n_user-select: text;
  --mixin-pANUUF2zMy3n_text-decoration-line: none;
  --mixin-pANUUF2zMy3n_text-overflow: clip;
  --mixin-EMK0yF4eJqd4_color: #000000;
  --mixin-EMK0yF4eJqd4_font-weight: 900;
  --mixin-EMK0yF4eJqd4_font-size: 72px;
  --mixin-EMK0yF4eJqd4_line-height: 1;
  --mixin-EMK0yF4eJqd4_letter-spacing: -4px;
  --mixin-EMK0yF4eJqd4_white-space: pre-wrap;
  --mixin-Zm8pwfz6GBtJ_color: #000000;
  --mixin-Zm8pwfz6GBtJ_font-size: 48px;
  --mixin-Zm8pwfz6GBtJ_font-weight: 700;
  --mixin-Zm8pwfz6GBtJ_letter-spacing: -1px;
  --mixin-Zm8pwfz6GBtJ_line-height: 1.1;
  --mixin-Zm8pwfz6GBtJ_white-space: pre-wrap;
  --mixin-NcvzVZBJtFdD_color: #0070f3;
  --mixin-NcvzVZBJtFdD_white-space: pre-wrap;
  --mixin-Ml1k55rdDbI__color: #000000;
  --mixin-Ml1k55rdDbI__font-size: 32px;
  --mixin-Ml1k55rdDbI__font-weight: 600;
  --mixin-Ml1k55rdDbI__letter-spacing: -0.8px;
  --mixin-Ml1k55rdDbI__line-height: 1.2;
  --mixin-Ml1k55rdDbI__white-space: pre-wrap;
  --mixin-zi-cabtlIlDM_color: #000000;
  --mixin-zi-cabtlIlDM_font-size: 24px;
  --mixin-zi-cabtlIlDM_font-weight: 600;
  --mixin-zi-cabtlIlDM_letter-spacing: -0.5px;
  --mixin-zi-cabtlIlDM_line-height: 1.3;
  --mixin-zi-cabtlIlDM_white-space: pre-wrap;
  --mixin-F9ikBzjTGMBh_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-F9ikBzjTGMBh_border-bottom-color: #dddddd;
  --mixin-F9ikBzjTGMBh_border-bottom-style: solid;
  --mixin-F9ikBzjTGMBh_border-bottom-width: 1px;
  --mixin-F9ikBzjTGMBh_border-left-color: #dddddd;
  --mixin-F9ikBzjTGMBh_border-left-style: solid;
  --mixin-F9ikBzjTGMBh_border-left-width: 1px;
  --mixin-F9ikBzjTGMBh_border-right-color: #dddddd;
  --mixin-F9ikBzjTGMBh_border-right-style: solid;
  --mixin-F9ikBzjTGMBh_border-right-width: 1px;
  --mixin-F9ikBzjTGMBh_border-top-color: #dddddd;
  --mixin-F9ikBzjTGMBh_border-top-style: solid;
  --mixin-F9ikBzjTGMBh_border-top-width: 1px;
  --mixin-F9ikBzjTGMBh_border-bottom-left-radius: 3px;
  --mixin-F9ikBzjTGMBh_border-bottom-right-radius: 3px;
  --mixin-F9ikBzjTGMBh_border-top-left-radius: 3px;
  --mixin-F9ikBzjTGMBh_border-top-right-radius: 3px;
  --mixin-F9ikBzjTGMBh_font-family: "Inconsolata";
  --mixin-F9ikBzjTGMBh_padding-bottom: 1px;
  --mixin-F9ikBzjTGMBh_padding-left: 4px;
  --mixin-F9ikBzjTGMBh_padding-right: 4px;
  --mixin-F9ikBzjTGMBh_padding-top: 1px;
  --mixin-F9ikBzjTGMBh_white-space: pre-wrap;
  --mixin-7eCmROuLor03_border-left-color: #dddddd;
  --mixin-7eCmROuLor03_border-left-style: solid;
  --mixin-7eCmROuLor03_border-left-width: 3px;
  --mixin-7eCmROuLor03_color: #888888;
  --mixin-7eCmROuLor03_padding-left: 10px;
  --mixin-7eCmROuLor03_white-space: pre-wrap;
  --mixin-9Iq6oDNoCn5W_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-9Iq6oDNoCn5W_border-bottom-color: #dddddd;
  --mixin-9Iq6oDNoCn5W_border-bottom-style: solid;
  --mixin-9Iq6oDNoCn5W_border-bottom-width: 1px;
  --mixin-9Iq6oDNoCn5W_border-left-color: #dddddd;
  --mixin-9Iq6oDNoCn5W_border-left-style: solid;
  --mixin-9Iq6oDNoCn5W_border-left-width: 1px;
  --mixin-9Iq6oDNoCn5W_border-right-color: #dddddd;
  --mixin-9Iq6oDNoCn5W_border-right-style: solid;
  --mixin-9Iq6oDNoCn5W_border-right-width: 1px;
  --mixin-9Iq6oDNoCn5W_border-top-color: #dddddd;
  --mixin-9Iq6oDNoCn5W_border-top-style: solid;
  --mixin-9Iq6oDNoCn5W_border-top-width: 1px;
  --mixin-9Iq6oDNoCn5W_border-bottom-left-radius: 3px;
  --mixin-9Iq6oDNoCn5W_border-bottom-right-radius: 3px;
  --mixin-9Iq6oDNoCn5W_border-top-left-radius: 3px;
  --mixin-9Iq6oDNoCn5W_border-top-right-radius: 3px;
  --mixin-9Iq6oDNoCn5W_font-family: "Inconsolata";
  --mixin-9Iq6oDNoCn5W_padding-bottom: 3px;
  --mixin-9Iq6oDNoCn5W_padding-left: 6px;
  --mixin-9Iq6oDNoCn5W_padding-right: 6px;
  --mixin-9Iq6oDNoCn5W_padding-top: 3px;
  --mixin-9Iq6oDNoCn5W_white-space: pre-wrap;
  --mixin-BFdEtLHn_vjE_display: flex;
  --mixin-BFdEtLHn_vjE_flex-direction: column;
  --mixin-BFdEtLHn_vjE_align-items: stretch;
  --mixin-BFdEtLHn_vjE_justify-content: flex-start;
  --mixin-BFdEtLHn_vjE_list-style-position: outside;
  --mixin-BFdEtLHn_vjE_padding-left: 40px;
  --mixin-BFdEtLHn_vjE_position: relative;
  --mixin-BFdEtLHn_vjE_list-style-type: disc;
  --mixin-BFdEtLHn_vjE_white-space: pre-wrap;
  --mixin-I0QV63l97Y_1F_display: flex;
  --mixin-I0QV63l97Y_1F_flex-direction: column;
  --mixin-I0QV63l97Y_1F_align-items: stretch;
  --mixin-I0QV63l97Y_1F_justify-content: flex-start;
  --mixin-I0QV63l97Y_1F_list-style-position: outside;
  --mixin-I0QV63l97Y_1F_padding-left: 40px;
  --mixin-I0QV63l97Y_1F_position: relative;
  --mixin-I0QV63l97Y_1F_list-style-type: decimal;
  --mixin-I0QV63l97Y_1F_white-space: pre-wrap;
  --mixin-8jgi-sLcoyTRC_color: #000000;
  --mixin-8jgi-sLcoyTRC_font-size: 20px;
  --mixin-8jgi-sLcoyTRC_font-weight: 600;
  --mixin-8jgi-sLcoyTRC_letter-spacing: -0.3px;
  --mixin-8jgi-sLcoyTRC_line-height: 1.5;
  --mixin-8jgi-sLcoyTRC_white-space: pre-wrap;
  --mixin-uE7KiBjlKvFxO_color: #000000;
  --mixin-uE7KiBjlKvFxO_font-size: 16px;
  --mixin-uE7KiBjlKvFxO_font-weight: 600;
  --mixin-uE7KiBjlKvFxO_line-height: 1.5;
  --mixin-uE7KiBjlKvFxO_white-space: pre-wrap;
  --mixin-6PsDdWcwPOtfq_color: #3291ff;
  --mixin-6PsDdWcwPOtfq_white-space: pre-wrap;
  --mixin-vC_YVzES3G1g9_white-space: pre-wrap;
  --mixin-VM4xJfBDqEciA_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
.root_reset {
  font-family: var(--mixin-pANUUF2zMy3n_font-family);
  font-size: var(--mixin-pANUUF2zMy3n_font-size);
  font-weight: var(--mixin-pANUUF2zMy3n_font-weight);
  font-style: var(--mixin-pANUUF2zMy3n_font-style);
  color: var(--mixin-pANUUF2zMy3n_color);
  text-align: var(--mixin-pANUUF2zMy3n_text-align);
  text-transform: var(--mixin-pANUUF2zMy3n_text-transform);
  line-height: var(--mixin-pANUUF2zMy3n_line-height);
  letter-spacing: var(--mixin-pANUUF2zMy3n_letter-spacing);
  white-space: var(--mixin-pANUUF2zMy3n_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset :global(.__wab_expr_html_text) h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-EMK0yF4eJqd4_color);
  font-weight: var(--mixin-EMK0yF4eJqd4_font-weight);
  font-size: var(--mixin-EMK0yF4eJqd4_font-size);
  line-height: var(--mixin-EMK0yF4eJqd4_line-height);
  letter-spacing: var(--mixin-EMK0yF4eJqd4_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset :global(.__wab_expr_html_text) h2),
:where(.root_reset.plasmic_default__h2) {
  color: var(--mixin-Zm8pwfz6GBtJ_color);
  font-size: var(--mixin-Zm8pwfz6GBtJ_font-size);
  font-weight: var(--mixin-Zm8pwfz6GBtJ_font-weight);
  letter-spacing: var(--mixin-Zm8pwfz6GBtJ_letter-spacing);
  line-height: var(--mixin-Zm8pwfz6GBtJ_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset :global(.__wab_expr_html_text) a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-NcvzVZBJtFdD_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset :global(.__wab_expr_html_text) h3),
:where(.root_reset.plasmic_default__h3) {
  color: var(--mixin-Ml1k55rdDbI__color);
  font-size: var(--mixin-Ml1k55rdDbI__font-size);
  font-weight: var(--mixin-Ml1k55rdDbI__font-weight);
  letter-spacing: var(--mixin-Ml1k55rdDbI__letter-spacing);
  line-height: var(--mixin-Ml1k55rdDbI__line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset :global(.__wab_expr_html_text) h4),
:where(.root_reset.plasmic_default__h4) {
  color: var(--mixin-zi-cabtlIlDM_color);
  font-size: var(--mixin-zi-cabtlIlDM_font-size);
  font-weight: var(--mixin-zi-cabtlIlDM_font-weight);
  letter-spacing: var(--mixin-zi-cabtlIlDM_letter-spacing);
  line-height: var(--mixin-zi-cabtlIlDM_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset :global(.__wab_expr_html_text) code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-F9ikBzjTGMBh_background);
  font-family: var(--mixin-F9ikBzjTGMBh_font-family);
  border-radius: var(--mixin-F9ikBzjTGMBh_border-top-left-radius)
    var(--mixin-F9ikBzjTGMBh_border-top-right-radius)
    var(--mixin-F9ikBzjTGMBh_border-bottom-right-radius)
    var(--mixin-F9ikBzjTGMBh_border-bottom-left-radius);
  padding: var(--mixin-F9ikBzjTGMBh_padding-top)
    var(--mixin-F9ikBzjTGMBh_padding-right)
    var(--mixin-F9ikBzjTGMBh_padding-bottom)
    var(--mixin-F9ikBzjTGMBh_padding-left);
  border-top: var(--mixin-F9ikBzjTGMBh_border-top-width)
    var(--mixin-F9ikBzjTGMBh_border-top-style)
    var(--mixin-F9ikBzjTGMBh_border-top-color);
  border-right: var(--mixin-F9ikBzjTGMBh_border-right-width)
    var(--mixin-F9ikBzjTGMBh_border-right-style)
    var(--mixin-F9ikBzjTGMBh_border-right-color);
  border-bottom: var(--mixin-F9ikBzjTGMBh_border-bottom-width)
    var(--mixin-F9ikBzjTGMBh_border-bottom-style)
    var(--mixin-F9ikBzjTGMBh_border-bottom-color);
  border-left: var(--mixin-F9ikBzjTGMBh_border-left-width)
    var(--mixin-F9ikBzjTGMBh_border-left-style)
    var(--mixin-F9ikBzjTGMBh_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset :global(.__wab_expr_html_text) blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-7eCmROuLor03_color);
  padding-left: var(--mixin-7eCmROuLor03_padding-left);
  border-left: var(--mixin-7eCmROuLor03_border-left-width)
    var(--mixin-7eCmROuLor03_border-left-style)
    var(--mixin-7eCmROuLor03_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset :global(.__wab_expr_html_text) pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-9Iq6oDNoCn5W_background);
  font-family: var(--mixin-9Iq6oDNoCn5W_font-family);
  border-radius: var(--mixin-9Iq6oDNoCn5W_border-top-left-radius)
    var(--mixin-9Iq6oDNoCn5W_border-top-right-radius)
    var(--mixin-9Iq6oDNoCn5W_border-bottom-right-radius)
    var(--mixin-9Iq6oDNoCn5W_border-bottom-left-radius);
  padding: var(--mixin-9Iq6oDNoCn5W_padding-top)
    var(--mixin-9Iq6oDNoCn5W_padding-right)
    var(--mixin-9Iq6oDNoCn5W_padding-bottom)
    var(--mixin-9Iq6oDNoCn5W_padding-left);
  border-top: var(--mixin-9Iq6oDNoCn5W_border-top-width)
    var(--mixin-9Iq6oDNoCn5W_border-top-style)
    var(--mixin-9Iq6oDNoCn5W_border-top-color);
  border-right: var(--mixin-9Iq6oDNoCn5W_border-right-width)
    var(--mixin-9Iq6oDNoCn5W_border-right-style)
    var(--mixin-9Iq6oDNoCn5W_border-right-color);
  border-bottom: var(--mixin-9Iq6oDNoCn5W_border-bottom-width)
    var(--mixin-9Iq6oDNoCn5W_border-bottom-style)
    var(--mixin-9Iq6oDNoCn5W_border-bottom-color);
  border-left: var(--mixin-9Iq6oDNoCn5W_border-left-width)
    var(--mixin-9Iq6oDNoCn5W_border-left-style)
    var(--mixin-9Iq6oDNoCn5W_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset :global(.__wab_expr_html_text) ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-BFdEtLHn_vjE_display);
  flex-direction: var(--mixin-BFdEtLHn_vjE_flex-direction);
  align-items: var(--mixin-BFdEtLHn_vjE_align-items);
  justify-content: var(--mixin-BFdEtLHn_vjE_justify-content);
  list-style-position: var(--mixin-BFdEtLHn_vjE_list-style-position);
  padding-left: var(--mixin-BFdEtLHn_vjE_padding-left);
  position: var(--mixin-BFdEtLHn_vjE_position);
  list-style-type: var(--mixin-BFdEtLHn_vjE_list-style-type);
  flex-column-gap: var(--mixin-BFdEtLHn_vjE_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset :global(.__wab_expr_html_text) ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-I0QV63l97Y_1F_display);
  flex-direction: var(--mixin-I0QV63l97Y_1F_flex-direction);
  align-items: var(--mixin-I0QV63l97Y_1F_align-items);
  justify-content: var(--mixin-I0QV63l97Y_1F_justify-content);
  list-style-position: var(--mixin-I0QV63l97Y_1F_list-style-position);
  padding-left: var(--mixin-I0QV63l97Y_1F_padding-left);
  position: var(--mixin-I0QV63l97Y_1F_position);
  list-style-type: var(--mixin-I0QV63l97Y_1F_list-style-type);
  flex-column-gap: var(--mixin-I0QV63l97Y_1F_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset :global(.__wab_expr_html_text) h5),
:where(.root_reset.plasmic_default__h5) {
  color: var(--mixin-8jgi-sLcoyTRC_color);
  font-size: var(--mixin-8jgi-sLcoyTRC_font-size);
  font-weight: var(--mixin-8jgi-sLcoyTRC_font-weight);
  letter-spacing: var(--mixin-8jgi-sLcoyTRC_letter-spacing);
  line-height: var(--mixin-8jgi-sLcoyTRC_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset :global(.__wab_expr_html_text) h6),
:where(.root_reset.plasmic_default__h6) {
  color: var(--mixin-uE7KiBjlKvFxO_color);
  font-size: var(--mixin-uE7KiBjlKvFxO_font-size);
  font-weight: var(--mixin-uE7KiBjlKvFxO_font-weight);
  line-height: var(--mixin-uE7KiBjlKvFxO_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset :global(.__wab_expr_html_text) a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-6PsDdWcwPOtfq_color);
}

:where(.root_reset .plasmic_default__li),
:where(.root_reset .li),
:where(.root_reset :global(.__wab_expr_html_text) li),
:where(.root_reset.plasmic_default__li) {
}

:where(.root_reset .plasmic_default__p),
:where(.root_reset .p),
:where(.root_reset :global(.__wab_expr_html_text) p),
:where(.root_reset.plasmic_default__p) {
}
